.footer {
    padding: 15px 0;
    background-color: rgba(var(--bg-c),1.0);


    &__inner {
        padding: clamp(20px, 2.778vw, 40px) 0;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include small-tablet {
            flex-wrap: wrap;
            gap: 40px;
            margin-bottom: 20px;
        }
    }

    &__logo {
        display: flex;

        img {
            width: 100%;
            height: auto;
        }
    }

    &__menu {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);

        @include laptop {
            position: relative;
            left: initial;
            transform: initial;
        }

        @include small-tablet {
            order: 1;
            width: 100%;
            display: flex;
            justify-content: center;

            .main-nav__list {
                flex-direction: column;
                gap: 20px;
            }
        }
    }

    &__btn {
        height: clamp(43px, 7.161vw, 55px);
        max-width: clamp(150px, 16.389vw, 236px);
    }

    &__copyright {
        display: block;
        color: rgba(var(--cl-c),1.0);
        font-family: var(--font-family-montserrat);
        font-size: 11px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
        text-align: center;
    }
}