.footer {
    padding: 15px 0;
    background-color: rgba(var(--bg-c),1.0);


    &__inner {
        padding: 40px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;

        // @include  mobile {
        //     grid-template-columns: 1fr 1fr;
        //     align-items: flex-start;
        //     max-width: 80%;
        //     gap: 80px clamp(50px, 10vw, 178rem);
        // }
    }

    &__logo {
        display: flex;

        img {
            width: 100%;
            height: auto;
        }
    }

    &__menu {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

      &__btn {
        height: 55px;
    }

    &__copyright {
        display: block;
        color: rgba(var(--cl-c),1.0);
        font-family: var(--font-family-montserrat);
        font-size: 11px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
        text-align: center;
    }
}