.header {
  position: absolute;
  top: 3px;
  width: 100%;
  z-index: 100;

  &__logo {
    position: relative;
    z-index: 20;
  }

  &__inner {
    padding: 19px clamp(20px, 4.167vw, 60px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: padding .3s;
    background-color: rgba(var(--bg-c), 0.95);
    box-shadow: 0 6px 25px 0 rgba(0, 0, 0, 0.15);
    border-radius: 20px;
  }

  &__menu {    
    @include for-tablet {
      display: contents;

      .main-nav {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    @include tablet {
      position: fixed;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 50px;
      inset: 0;
      z-index: -1;
      opacity: 0;
      visibility: hidden;
      transition: transform .4s ease-out , opacity .4s ease-out;

      .main-nav__list {
				align-items: flex-start;
				flex-direction: column;
        align-items: center;
        gap: 25px;

        a {
          @include tablet {
            font-size: 20px;
          }
        }
      }
    }

    &.active {
			opacity: 1;
			transform: translateX(0%);
      z-index: 10;
      visibility: visible;
		}
  }

  &__btn {
    height: 43px;
    max-width: Max(146px, 146rem);
  }
}