.header {
  // position: fixed;
  z-index: 100;
  // left: 0;
  // right: 0;
  // top: 0;

  &__logo {
    position: relative;
    z-index: 20;

    // @include  mobile{
    //   max-width: 120px;
    //   max-height: 55px;
    //   height: 100%;
    // }
  }

  &__inner {
    padding: 19px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: padding .3s;
    background-color: rgba(var(--bg-c), 0.95);
    box-shadow: 0 6px 25px 0 rgba(0, 0, 0, 0.15);
    border-radius: 20px;
  }

  &__menu {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  // &.bg {
  //   background-color: rgba(var(--bg-e),1.0);

  //   .header__inner {
  //     padding: Max(15px, 15rem) 0;
  //   }
  // }


  &__btn {
    height: 43px;
    max-width: Max(146px, 146rem);
}
}