.hero-section {
    position: relative;
    height: 80svh;
    width: 100%;
    overflow: hidden;

    @include for-tablet {
        height: 100svh;
    }

    &__video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__wrapp {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        height: clamp(495px, 79.688vw, 612px);
        width: clamp(350px, 58.073vw, 446px);
    }

    &__frame {
        position: absolute;
        inset: 0;
        display: flex;
        object-fit: cover;
        object-position: center;

        picture,
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__box {
        height: 100%;
        position: relative;
        z-index: 2;
        padding: clamp(25px, 5.729vw, 44px) clamp(35px, 6.25vw, 48px) clamp(65px, 12.5vw, 96px);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        &-top {
            width: 100%;
            position: relative;
            font-size: clamp(26px, 3.906vw, 30px);
            line-height: 130%;
            font-weight: 500;
            color: rgba(var(--cl-d),1.0);
            text-align: center;

            &::before {
                content: '';
                position: absolute;
                top: 100%;
                right: clamp(20px, 3.906vw, 30px);
                background-image: var(--frame-decor);
                background-position: center;
                background-size: cover;
                width: clamp(205px, 32.031vw, 246px);
                height: clamp(287px, 44.922vw, 345px);
            }
        }

        &-bottom {
            font-size: clamp(21px, 3.255vw, 25px);
            line-height: 110%;
            font-weight: 700;
            color: rgba(var(--cl-d),1.0);
            text-align: center;
        }

        &-dev {
            position: absolute;
            top: clamp(100px, 18.359vw, 141px);
            left: clamp(35px, 6.25vw, 48px);
            font-size: clamp(26px, 3.906vw, 30px);
            line-height: 120%;
            font-weight: 700;
            color: rgba(var(--bg-d),1.0);
            text-transform: uppercase;
        }

        &-socials {
            position: absolute;
            top: clamp(200px, 33.203vw, 255px);
            right: clamp(35px, 6.25vw, 48px);
            font-size: clamp(26px, 3.906vw, 30px);
            line-height: 120%;
            font-weight: 700;
            text-transform: uppercase;
            text-align: right;
            color: rgba(var(--cl-e),1.0);

            span:first-child {
                color: #1f71d1;
            }

            span:last-child {
                color: #116f60;
            }
        }

        &-marketing {
            position: absolute;
            left: clamp(35px, 6.25vw, 48px);
            bottom: clamp(155px, 27.734vw, 213px);
            font-size: clamp(26px, 3.906vw, 30px);
            line-height: 110%;
            font-weight: 700;
            color: rgba(var(--cl-e),1.0);
            text-transform: uppercase;
        }

        &-seo {
            position: absolute;
            right: clamp(35px, 6.25vw, 48px);
            bottom: clamp(110px, 20.052vw, 145px);
            font-size: clamp(30px, 4.557vw, 35px);
            line-height: 110%;
            font-weight: 700;
            color: rgba(var(--bg-d),1.0);
            text-transform: uppercase;
        }
    }
}

