.modal {
	max-width: Max(500px, 520rem);
	width: 90vw;
	background-color: rgba(var(--cl-c),1.0);
	border-radius: Max(20px, 20rem);
	border: 1px solid #fff;
	padding: Max(40px, 40rem);

	@include mobile {
		padding: 40px 20px;
	}


	&__box {
		display: flex;
		align-items: center;
		flex-direction: column;
		gap: 40px;
	}

	&__icon {
		display: flex;
		max-width: 50%;
		width: 100%;
	}

	&__close {
		position: absolute;
		top: Max(20px, 20rem);
		right: Max(20px, 20rem);
		color: rgba(var(--cl-a),1.0);
		transition: color .4s;

		svg {
			fill: currentColor;
			width: clamp( 20px,3.333vw, 35rem);
			height: clamp( 20px,3.333vw, 35rem);
		}

		&:hover {
			color: rgba(var(--cl-d),1.0);
		}
	}

	&__text {
		display: flex;
		flex-direction: column;
		text-align: center;
		gap: Max(25px, 25rem);

		color: rgba(var(--cl-a),1.0);
		font-family: var(--font-family);
		font-style: normal;
	}

	&__title {
		font-size: clamp(22px, 2.5vw, 30rem);
		font-weight: 700;
		line-height: 120%;
	}

	&__text {
		font-size: clamp(18px, 1.667vw, 20rem);
		font-weight: 500;
	}
}