.modal {
	max-width: 1064px;
	width: 90vw;
	background-color: rgba(var(--cl-c),1.0);
	border-radius: 10px;
	border: 1px solid #fff;
	padding: 40px;

	@include mobile {
		padding: 40px 20px;
	}

	.wpcf7 {
		max-width: 886px;
		width: 100%;
	}

	.main-top {
		gap: 15px;

		&__title {
			&::before,
			&::after {
				display: none;
			}
		}

		&__text {
			font-size: clamp(13px, 1.111vw, 16px);
		}
	}

	&__box {
		margin: 0 auto;
		max-width: 886px;
		width: 100%;
		display: flex;
		align-items: center;
	}

	&__close {
		position: absolute;
		top: clamp(15px, 3.906vw, 30px);
		right: clamp(15px, 3.906vw, 30px);
		color: rgba(var(--cl-a),1.0);
		transition: color .4s;

		svg {
			fill: currentColor;
			width: 25px;
			height: 25px;
		}

		&:hover {
			color: rgba(var(--cl-d),1.0);
		}
	}
}