.projects-section {
	background-color: rgba(var(--bg-e),1.0);

	.loader:before {
		background-color: rgba(var(--bg-e),1.0);
	}

	.main-button {
		background-color: rgba(var(--bg-c),1.0);
	}

	&__inner {
		padding: clamp(60px, 11.667vw, 140rem) 0 clamp(60px, 7.083vw, 85rem);
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		gap: clamp(40px, 6.667vw, 80rem);
	}

	&__box {
		width: 100%;
		padding-bottom: calc(clamp(20px, 5.333vw, 64rem) + var(--main-button-height));
		position: relative;
	}
}