.process-section {
    padding: clamp(50px, 6.25vw, 90px) 0;
    background-color: rgba(var(--bg-a),1.0);

    &__inner {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    &__lists {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 20px;

        @include laptop {
            grid-template-columns: repeat(2, 1fr);
        }

        @include small-tablet {
            grid-template-columns: 100%;
        }

        &-row {
            padding: 30px clamp(20px, 2.361vw, 34px) clamp(30px, 2.431vw, 35px);
            background: var(--services-gradient);
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

        &-icon {
            display: flex;
            margin-bottom: 15px;
        }

        &-heading {
            display: block;
            margin-bottom: 10px;
            color: rgba(var(--cl-f),1.0);
            font-family: var(--font-family-inter);
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: 110%;
        }

        &-descr {
            color: rgba(var(--cl-a),1.0);
            font-family: var(--font-family-inter);
            font-size: clamp(14px, 1.111vw, 16px);
            font-style: normal;
            font-weight: 400;
            line-height: 162%;
        }
    }
}