.reasons-section {
    padding: 50px 0 clamp(50px, 4.167vw, 60px);

    &__inner {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .main-top__title {
        color: rgba(var(--cl-a),1.0);
    }

    &__lists {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 50px clamp(70px, 8.333vw, 120px);
        padding: 0 clamp(50px, 6.944vw, 100px);

        @include laptop {
            grid-gap: 50px;
            padding: 0;
        }

        @include small-tablet {
            grid-template-columns: 100%;
        }

        &-row {
            position: relative;
            padding-top: 30px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            text-align: center;
            counter-increment: list;

            &::before {
                content: counter(list);
                position: absolute;
                top: 0;
                font-weight: 800;
                font-size:  100px;
                line-height: 100%;
                color: rgba(var(--cl-a),0.4);
                z-index: -1;
            }

        }

        &-heading {
            color: rgba(var(--cl-d),1.0);
            font-family: var(--font-family-inter);
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: 110%;
        }

        &-descr {
            color: rgba(var(--cl-d),1.0);
            font-family: var(--font-family-inter);
            font-size: clamp(14px, 1.111vw, 16px);
            font-weight: 400;
            line-height: 162%;
        }
    }
}