.services-section {
    position: relative;
    padding: clamp(50px, 6.25vw, 90px) 0;
    background-color: rgba(var(--bg-a),1.0);

    &__inner {
        display: flex;
        flex-direction: column;
        gap: clamp(40px, 13.021vw, 100px);
    }

    .main-top__text {
        position: relative;
        max-width: 836px;
        font-weight: 500;

        &::before {
            content: '';
            position: absolute;
            left: calc(50% + 35px);
            bottom: -65px;
            background-image: var(--services-title-icon);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            width: 20px;
            height: 30px;

            @include small-tablet {
                display: none;
            }
        }
    }

    &__wrapp {
        display: flex;
        align-items: flex-start;
        gap: 20px;

        @include tablet {
            gap: 40px;
        }

        @include small-tablet {
            flex-direction: column;
        }
    }

    &__aside {
        position: sticky;
        top: 50%;
        flex-basis: 50%;
        display: flex;
        flex-direction: column;
        gap: 25px;

        @include tablet {
            flex-basis: 40%;
        }

        @include small-tablet {
            position: relative;
            top: initial;
            flex-basis: initial;
            padding-top: 0;
            text-align: center;
        }
        
        &-heading {
            max-width: 590px;
            color: rgba(var(--cl-e),1.0);
            font-family: var(--font-family-inter);
            font-size: clamp(20px, 1.736vw, 25px);
            font-weight: 700;
            line-height: 110%;
        }

        &-descr {
            max-width: 545px;
            color: rgba(var(--cl-d),1.0);
            font-family: var(--font-family-inter);
            font-size: clamp(14px, 1.111vw, 16px);
            font-weight: 600;
            line-height: 110%;
        }
    }

    &__lists {
        overflow: hidden;
        flex-basis: 50%;
        display: flex;
        flex-direction: column;
        gap: 20px;

        @include tablet {
            flex-basis: 60%;
        }

        @include small-tablet {
            flex-basis: initial;
        }


        &-row {
            padding: clamp(40px, 5.278vw, 67px) clamp(30px, 2.361vw, 34px) clamp(40px, 5.278vw, 67px) clamp(30px, 2.778vw, 40px);
            background: var(--services-gradient);
            border-radius: 10px;
            display: grid;
            grid-template-columns: clamp(100px, 10vw, 144px) 1fr;
            align-items: center;
            grid-gap: clamp(20px, 2.153vw, 31px);

            @include small-tablet {
                grid-template-columns: 100%;
                text-align: center;
            }
        }

        &-icon {
            display: flex;
            justify-content: center;
        }

        &-info {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        &-heading {
            color: rgba(var(--cl-f),1.0);
            font-family: var(--font-family-inter);
            font-size: 20px;
            font-weight: 600;
            line-height: 110%;
        }

        &-descr {
            color: rgba(var(--cl-a),1.0);
            font-family: var(--font-family-inter);
            font-size: clamp(14px, 1.111vw, 16px);
            font-weight: 400;
            line-height: 162%;
        }
    }
}