.single-project {
	overflow: hidden;

	&__inner {
		padding: calc(var(--header-height) + Max(60px, 60rem)) 0 clamp(60px ,6.25vw, 75rem);
		min-height: 100dvh;

		display: grid;
		grid-template-columns: 60% 1fr;
		gap: clamp(40px, 6.667vw, 80rem);

		@include tablet {
			display: flex;
			flex-direction: column;
		}

		.project-info {
			position: relative;
			z-index: 2;

			&:before {
				position: absolute;
				top: -40px;
				bottom: -10px;
				left: calc(clamp(40px, 6.667vw, 80rem) * -1);
				right: -50vw;
				content: '';
				background-color: var(--body-bg);
				z-index: -1;
				pointer-events: none;
			}
		}
	}
}