.team-section {
  overflow: hidden;

  &__inner {
    padding: clamp(60px, 8.333vw, 140rem) 0;
    display: grid;
    grid-template-columns: 1fr 50%;
    grid-template-rows: repeat(2,auto);
    gap: Max(40px, 40rem) clamp(40px, 5.833vw, 70px);
    align-items: center;

    @include small-tablet {
      grid-template-columns: 100%;
      grid-template-rows: initial;
    }
  }

  &__buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: Max(300px, 300rem);
    width: 100%;
    gap: Max(20px, 20rem);
    grid-column: 1;
    margin-bottom: auto;

    @include small-tablet {
      margin: 0 auto;
      width: 100%;
    }

    @include ios {
      max-width: 100%;
    }

    svg {
      width: Max(12px, 12rem);
      height: auto;
    }
  }

  .main-top {
    @include for-tablet {
      margin-top: auto;
    }

    @include mobile {
      order: -1;
    }
  }


  .swiper {
    &-container {
      width: 100%;

      @include for-small-tablet {
        margin-right: calc(var(--team-slider-offset) * -1);
        grid-column: 2;
        grid-row: 1/-1;
        max-width: calc(100% + var(--team-slider-offset));
        padding: var(--team-slider-offset);
      }

      @include small-tablet {
        max-width: calc(470px + var(--team-slider-offset) * 2);
        margin: 0 auto;
        overflow: initial;
      }

      @include for-small-tablet {
        &:after,
        &:before {
          width: var(--team-slider-offset);
          top: 0;
          bottom: 0;
          position: absolute;
          content: '';
          z-index: 20;
          pointer-events: none;
          background: var(--team-slider-gradient);
        }

        &:before {
          left: -5px;
        }

        &:after {
          right: -5px;
          transform: scaleX(-1);
        }
      }
    }

    &-wrapper {
      align-items: stretch;
    }

    &-slide {
      height: initial;
      will-change: all;
      transition: all .3s linear;

      @include small-tablet {
        opacity: .2;
        filter: blur(2px);
      }

      &-active {
        @include small-tablet {
          opacity: 1;
          filter: blur(0);
        }
      }
    }

    &-button {


      &-disabled {
        opacity: .2;
        pointer-events: none;
      }
    }
  }
}
