.technologies-section {
  overflow: hidden;

  &__inner {
    padding: clamp(60px, 8.333vw, 140rem) 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: clamp(40px, 5.833vw, 70rem);

    @include tablet {
      grid-template-columns: 1fr 50%;
    }

    @include mobile {
      grid-template-columns: 100%;
    }
  }

  .swiper {


    &-container {
      max-width: 100%;
      width: 100%;

      @include tablet {
        max-width: 110%;
        width: 110%;
        margin-left: -20px;
        pointer-events: none;

        &:before {
          width: 20px;
          top: 0;
          bottom: 0;
          position: absolute;
          content: '';
          pointer-events: none;
          background: var(--team-slider-gradient);
          left: -2px;
          z-index: 10;

          @include mobile {
            width: 40px;
          }
        }
      }

      @include mobile {
        &:after {
          width: 40px;
          top: 0;
          bottom: 0;
          position: absolute;
          content: '';
          pointer-events: none;
          background: var(--team-slider-gradient);
          right: -2px;
          transform: scaleX(-1);
          z-index: 10;
        }
      }
    }

    &-wrapper {
      -webkit-transition-timing-function: linear !important;
      transition-timing-function: linear !important;

    }

    &-slide {
      @include tablet {
        height: initial;
        //margin: 0 !important;
      }
    }


    @include for-tablet {
      &-container {
        overflow: initial;
        display: flex;
        align-items: center;
      }
    }
  }

}