.lang-list {
  display: flex;
  flex-direction: column;
  gap: Max(5px, 5rem);

  @include tablet {
    flex-direction: row;
    gap: 20px;
  }

  a {
    color: rgba(var(--cl-a),1.0);
    font-family: var(--font-family);
    font-size: Max(16px, 16rem);
    font-style: normal;
    font-weight: 300;
    line-height: 100%; /* 136.359% */
    text-transform: uppercase;

    &.active {
      color: rgba(var(--cl-d),1.0);
      pointer-events: none;
      font-weight: 700;
    }

    @include tablet {
      font-size: 20px;
    }
  }
}