.main-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: clamp(30px, 4.395vw, 45px);

	&__labels {
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 15px;
	}

	&__grid {
		width: 100%;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 15px;

		label:last-child {
			grid-column: 1/-1;
		}

		@include mobile{
			grid-template-columns: 100%;
		}
	}

	label {
		position: relative;
		width: 100%;

		span {
			display: flex;
			width: 100%;
		}
	}

	input, textarea {
		width: 100%;
		padding: 15px 20px;
		background-color: rgba(var(--bg-h),1.0);

		color:  rgba(var(--cl-e),1.0);
		font-family: var(--font-family-inter);
		font-size: clamp(14px, 1.111vw, 16px);
		line-height: 140%;
		font-weight: 400;
		border: 1px solid rgba(var(--cl-e),1.0);
		border-radius: 10px;
		transition: all .4s;

		&::placeholder {
			color: rgba(var(--cl-g),1.0);
		}

		&.focus-visible {
			border-color: var(--br-a);

			&::placeholder {
				color: rgba(var(--cl-e),1.0);
			}
		}
	}

	textarea {
		overflow-y: auto;

		&::-webkit-scrollbar {
			width: Max(8px, 8rem);
			cursor: pointer;
		
			@include small-tablet {
			  display: none;
			}
		  }
		
		&::-webkit-scrollbar-thumb {
			background-color: var(--scrollbar-thumb);
			cursor: pointer;
			transition: all 0.2s;
		}
		
		&::-webkit-scrollbar-track {
			background-color: var(--scrollbar-track);
		}
		
		&::-webkit-scrollbar-button {
			display: none;
			background-color: transparent;
			box-shadow: none;
		}
	}

	&__btn {
		position: relative;
		height: clamp(43px, 7.161vw, 55px);
		background-color: rgba(var(--bg-c),1.0);
		color: rgba(var(--cl-a),1.0);

		input {
			padding: 0;
			cursor: pointer;
			position: absolute;
			inset: 0;
			background-color: transparent;
			color: inherit;
			font-family: inherit;
			font-size: inherit;
			font-style: inherit;
			font-weight: inherit;
			line-height: inherit;
		}

		&:hover,
		&:active {
			background-color: rgba(var(--bg-f),1.0);
		}
	}

	.wpcf7 {
		max-width: 886px;
		position: relative;
		z-index: 1;

		&-spinner {
			display: none;
		}

		// &-not-valid {
		// 	border: 1px solid rgba(var(--cl-h),1.0);

		// 	&::placeholder {
		// 		color: rgba(var(--cl-h),1.0);
		// 	}
		// }

		&-not-valid-tip {
			bottom: 2px;
			left: 20px;
			position: absolute;
			opacity: 0;
			transition: opacity .2s;
			transition-delay: .2s;
		}

		&-response {
			&-output {
				display: none;
				position: absolute;
			}
		}

		&-select {
			position: relative;
			margin: 0;
			width: 100%;
			padding: 15px 19px;
			background-color: rgba(var(--bg-h),1.0);
			outline: none;
			color: rgba(var(--cl-e),1.0);
			font-family: var(--font-family-inter);
			font-size: clamp(14px, 1.111vw, 16px);
			line-height: 140%;
			font-weight: 400;
			text-transform: capitalize;
			border: 1px solid rgba(var(--cl-e),1.0);
			border-radius: 10px;
			transition: all .4s;
			appearance: none;
			overflow: hidden;
			background-image: var(--select-icon);
			background-position: right;
			background-repeat: no-repeat;
			background-position-x: calc(100% - 20px);
		}
	}
}

.form-section__inner-wrapp .loader {
	pointer-events: none;

	&.loaded {
		pointer-events: initial;

		.wpcf7-not-valid-tip {
			opacity: 1;
		}
	}

	&:before {
		z-index: 10;
		inset: -20px;
		background-color: transparent;
		backdrop-filter: blur(3px);
	}

	&:after {
		z-index: 15;
	}
}