.main-nav {

  &__list {
    display: flex;
    align-items: center;
    gap: 52px;
  }

  a {
    color: rgba(var(--cl-a),1.0);
    font-family: var(--font-family);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    transition: color .3s;

    @include tablet {
      position: relative;

      &:before {
        position: absolute;
        content: '';
        top: -12px;
        bottom: -10px;
        right: -20px;
        left: -20px;
        border: 1px solid var(--br-a);
        //background-color: rgba(var(--bg-a),1.0);
        z-index: -1;
        opacity: 0;
        transition: all .4s;
      }
    }

    @include for-tablet {
      @include hover {
        color: rgba(var(--cl-c),1.0);
      }
    }
  }
}