.main-top {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: Max(30px, 30rem);

  &__title {
    position: relative;
    color: rgba(var(--cl-e),1.0);
    font-family: var(--font-family-inter);
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    position: relative;
    width: fit-content;

    &::before {
      content: '';
      position: absolute;
      background-image: var(--title-line);
      left: -120px;
      top: 50%;
      transform: translateY(-50%);
      width: 109px;
      height: 1px;
    }

    &::after {
      content: '';
      position: absolute;
      background-image: var(--title-line);
      right: -120px;
      top: 50%;
      transform: translateY(-50%);
      width: 109px;
      height: 1px;
    }

    // @include mobile{
    //   font-size: clamp(50px, 8.454vw, 55px);
    //   line-height: 120%;
    // }

    // &:before {
    //   height: Max(3px, 3rem);
    //   position: absolute;
    //   left: 0;
    //   width: 60%;
    //   bottom: 0;
    //   content: '';
    //   background-color: var(--br-a);

    //   @include mobile{
    //     bottom: -10px;
    //   }
    // }
  }

  &__text {
    max-width: 980px;
    color: rgba(var(--cl-d),1.0);
    font-family: var(--font-family-inter);
    font-size: clamp(14px, 1.111vw, 16px);
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    text-align: center;
  }
}