.project-slider {
	display: flex;
	flex-direction: column;
	gap: clamp(30px, 4.167vw, 50rem);
	max-width: 100%;

	&__img {
		display: flex;
	}

	img {
		width: 100%;
		height: clamp(300px, 37.5vw, 500rem);
		object-fit: cover;
	}

	&__buttons {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: Max(20px, 20rem);
		max-width: 400px;
		width: 100%;

		@include tablet {
			margin: 0 auto;
		}
	}

	.swiper {
		position: relative;
		z-index: 1;

		&-container {
			overflow: initial;
			max-width: 100%;
			//width: 100%;
		}

		&-slide {
			transition: all 1s;
			transform: scaleY(.8);
			filter: brightness(70%);
			z-index: 2;
			box-shadow: 0px 0px 21px 0px rgba(13,11,13,0);

			&-duplicate-active,
			&-active {
				transform: scale(1);
				filter: brightness(100%);
				z-index: 10;
				box-shadow: 0px 0px 21px 0px rgba(13,11,13, 0.8);
			}
		}
	}
}