.project-info {
	display: flex;
	flex-direction: column;

	@include mobile {
		gap: 30px;
	}

	@include tablet {
		@include for-mobile {
			display: grid;
			grid-template-columns: auto 1fr;
			gap: 40px 30px;
		}
	}

	&__logo {
		display: flex;

		@include for-tablet {
			margin-bottom: Max(20px, 20rem);
		}

		img {
			display: flex;
			max-width: Max(235px, 235rem);
			width: 100%;
			height: auto;
		}
	}

	&__title {
		color: rgba(var(--cl-a),1.0);
		font-family: var(--font-family3);
		font-size: clamp(32px, 3.333vw, 62rem);
		font-style: normal;
		font-weight: 400;
		line-height: 105%;

		@include for-tablet {
			margin-bottom: clamp(30px, 5vw, 60rem);
		}

		@include tablet {
			@include for-mobile {
				align-self: center;
			}
		}

		@include mobile {
			font-size: Max(35px, 12vw);
		}
	}

	&__list {
		display: flex;
		flex-direction: column;
		gap: Max(10px, 10rem);

		@include tablet {
			grid-column: 1/-1;
		}
	}

	&__item {
		line-height: 150%;
		font-family: var(--font-family);
		font-style: normal;
		font-size: Max(18px, 18rem);

		@include mobile {
			font-size: 16px;
		}

		@include ios {
			hyphens: auto;
		}

		&-subtitle {
			color: rgba(var(--cl-d),1.0);
			font-weight: 700;
		}

		&-text {
			color: rgba(var(--cl-a),1.0);
			font-weight: 300;
		}
	}
}