.team-card {
  width: 100%;
  display: grid !important;
  grid-template-rows: 1fr auto;
  box-shadow: 0px 0px Max(30px, 30rem) 0px rgba(0, 0, 0, 0.36);

  img {
    display: flex;
    width: 100%;
  }

  &__image {
    display: flex;
    height: 100%;
  }

  &__description {
    background: #21242B;
    padding: Max(40px, 40rem) Max(30px, 30rem);
    min-height: clamp( 150px,16.667vw, 200rem);
    display: grid;
    grid-template-columns: minmax(40%, 1fr) 1fr;
    gap: Max(10px, 10rem) Max(20px, 20rem);
    grid-template-rows: auto 1fr;
    align-items: flex-start;

    @include small-tablet{
      padding: clamp(20px, 3.333vw, 40rem) clamp(15px, 2.5vw, 30rem);
    }
  }

  &__name {
    color:  rgba(var(--cl-a),1.0);
    font-family: var(--font-family);
    font-size: clamp(22px,32px, 32rem);
    font-style: normal;
    font-weight: 700;
    line-height: 110%;


  }

  &__job {
    color:  rgba(var(--cl-a),1.0);
    font-family: var(--font-family);
    font-size: clamp(16px, 1.667vw, 20rem);
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
  }

  &__text {
    grid-column: 2;
    grid-row: 1/-1;

    color:  rgba(var(--cl-a),1.0);
    font-family: var(--font-family);
    font-size: Max(18px, 18rem);
    font-style: normal;
    font-weight: 300;
    line-height: 150%; /* 164.103% */

    @include tablet {
      font-size: clamp( 14px,1.5vw, 18rem);
    }
  }
}