@keyframes bounceX {
    0%, 100% {
      right: 0;
      background-color: transparent;
    }
    50% {
      right: var(--animation-offset);
    }
}

@keyframes arrowAnimation {
    0% {
      transform: translate(0, var(--offset));
    }
    100% {
      transform: translate(20px, var(--offset));
    }
}

@keyframes bounceY {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(20px);
    }
}

@keyframes pulse {
  0% {
      transform: scale(1);
      opacity: 1;
  }
  50% {
      transform: scale(1.1);
      opacity: 0.7;
  }
  100% {
      transform: scale(1);
      opacity: 1;
  }
}

@keyframes rotate360 {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes scaleAnimation {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
    filter: grayscale(0);
  }
}

@keyframes colorChange {
  0%, 100% { color: rgba(var(--cl-a),1.0); }
  50% { color: rgba(var(--cl-d),1.0); }
}
