@import "../blocks/header.scss";
@import "../blocks/footer.scss";
@import "../blocks/hero-section.scss";

@import "../blocks/services-section.scss";
@import "../blocks/portfolio-section.scss";
@import "../blocks/process-section.scss";
@import "../blocks/reasons-section.scss";
@import "../blocks/pricing-section.scss";

@import "../blocks/about-section.scss";
@import "../blocks/technologies-section.scss";
@import "../blocks/team-section.scss";
@import "../blocks/projects-section.scss";
@import "../blocks/form-section.scss";
@import "../blocks/single-project.scss";
@import "../blocks/mobile-menu.scss";
@import "../blocks/modals.scss";