@import "../blocks/header.scss";
@import "../blocks/footer.scss";
@import "../blocks/hero-section.scss";
@import "../blocks/about-section.scss";
@import "../blocks/technologies-section.scss";
@import "../blocks/team-section.scss";
@import "../blocks/projects-section.scss";
@import "../blocks/form-section.scss";
@import "../blocks/single-project.scss";
@import "../blocks/mobile-menu.scss";
@import "../blocks/modals.scss";