@import "../blocks/header.scss";
@import "../blocks/footer.scss";

// Sections blocks
@import "../blocks/hero-section.scss";
@import "../blocks/marquee-section.scss";
@import "../blocks/services-section.scss";
@import "../blocks/portfolio-section.scss";
@import "../blocks/process-section.scss";
@import "../blocks/reasons-section.scss";
@import "../blocks/pricing-section.scss";
@import "../blocks/contacts-section.scss";

// Contacts page
@import "../blocks/contacts-page.scss";

// Extra
@import "../blocks/mobile-menu.scss";
@import "../blocks/modals.scss";