.btn {
    height: var(--main-button-height);
    max-width: Max(236px, 236rem);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(var(--bg-a),1.0);
    border-radius: 10px;

    color: rgba(var(--cl-d),1.0);
    font-family: var(--font-family-inter);
    font-size: Max(16px, 16rem);
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
    position: relative;
    z-index: 1;
    transition: all .4s;
    transition-delay: 0ms;

    @include hover {
        transition-delay: 100ms;
        background-color: rgba(var(--cl-c),1.0);
    }

    &:active {
        transition-delay: 100ms;
        background-color: rgba(var(--cl-c),1.0);
    }
}

.slider-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: Max(50px, 50rem);
    width: 100%;
    color: rgba(var(--cl-d),1.0);

    background-color: transparent;
    transition: all .3s ease;
    border: 1px solid var(--br-a);


    svg {
        fill: transparent;
        stroke: currentColor;
    }

    @include hover {
        color: rgba(var(--cl-a),1.0);
        background-color: rgba(var(--bg-d),1.0);
    }

    &.swiper-button-disabled {
        opacity: .2;
        pointer-events: none;
    }
}