// --------------- hex to rgba mixin ---------------
@function HexToRGB($hex) {
	@return red($hex), green($hex), blue($hex);
}

:root {
	// --------------- default global variable ---------------
	--frame-width: 1920;
	--rem-function: calc(100vw / var(--frame-width));
	// --error-bg: #d01f1f;
	--body-bg: #d5d5cd;;
	--body-font-size: 16rem;
	--content-width: Max(1440px, 1440rem);
	--container-offset: clamp(15px, 5.556vw, 80rem);

	--container-width: calc(var(--content-width) + (var(--container-offset) * 2));

	// --------------- default JS variable ---------------
	// --header-height: 142rem;
	// --team-slider-offset: clamp(15px, 3.90625vw, 40rem);

	// @include tablet {
	// 	--header-height: 112px !important;
	// }


	// @include tablet {
	// 	--header-height: 85px !important;
	// }

	--overlay-bg: rgba(0, 0, 0, 0.5);

	// --------------- default slect variable ---------------
	--select-inner-bg: #404040;
	--select-inner-border: #FDFDFD;
	--select-focus-border: #FDFDFD;

	// --------------- default font-family variable ---------------
	--font-family-inter: "Inter", sans-serif; // var(--font-family-inter);
	--font-family-montserrat: "Montserrat", sans-serif; // var(--font-family-montserrat);

	// --------------- default text color variable ---------------
	--cl-a: #{HexToRGB(#ffffff)}; // rgba(var(--cl-a),1.0);
	--cl-b: #{HexToRGB(#000000)}; // rgba(var(--cl-b),1.0);
	--cl-c: #{HexToRGB(#d5d5cd)}; // rgba(var(--cl-c),1.0);
	--cl-d: #{HexToRGB(#001325)}; // rgba(var(--cl-d),1.0);
	--cl-e: #{HexToRGB(#0e2943)}; // rgba(var(--cl-e),1.0);
	--cl-f: #{HexToRGB(#dcdcb7)}; // rgba(var(--cl-f),1.0);
	





	// --------------- default background color variable ---------------
	--bg-a: #{HexToRGB(#ffffff)}; // rgba(var(--bg-a),1.0);
	--bg-b: #{HexToRGB(#000000)}; // rgba(var(--bg-b),1.0);
	--bg-c: #{HexToRGB(#0e2943)}; // rgba(var(--bg-c),1.0);
	--bg-d: #{HexToRGB(#234842 )}; // rgba(var(--bg-d),1.0);


	// --------------- default gradient variable ---------------
	--services-gradient: linear-gradient(135deg, #234842 0%, #005a4b 100%); // var(--services-gradient);
	--slider-left-gradient: linear-gradient(271deg, rgba(153, 153, 153, 0) 0%, #d5d5cd 100%); // var(--slider-left-gradient);
	--slider-right-gradient: linear-gradient(270deg, #d5d5cd 0%, rgba(153, 153, 153, 0) 100%); // var(--slider-right-gradient);

	// --------------- animations ---------------
	--animation-offset: 10%;

	@include small-tablet {
		--animation-offset: 2%;
	}

}


